<div @zoomInOnEnter class="developer-wrapper">
    <app-animated-card [fromStart]="true" [once]="true">
        <div class="photo">
            <img class="photo" [src]="data?.photoSrcData" />
        </div>
    </app-animated-card>

    <app-typing-animated-box>
        <p class="name">{{ data?.name }}</p>
    </app-typing-animated-box>

    <app-animated-card
        [showAnimationType]="'bounceLeft'"
        [hideAnimationType]="'bounceLeft'"
        [fromStart]="true"
        [ratioShowYPoint]="2"
    >
        <div class="main">
            <div class="left">
                <h1 class="title">Skills</h1>
                <ul class="skills-wrapper">
                    <li *ngFor="let skill of data?.skills" class="skill">{{ skill }}</li>
                </ul>
            </div>
            <div class="right">
                <h1 class="title">Additional info</h1>
                <ul class="info-wrapper">
                    <li *ngFor="let infoItem of data?.info" class="infoItem">{{ infoItem }}</li>
                </ul>
            </div>
        </div>
    </app-animated-card>

    <div class="footer-wrapper">
        <app-animated-card
            [showAnimationType]="'bounceRight'"
            [hideAnimationType]="'bounceRight'"
            [fromStart]="true"
            [ratioShowYPoint]="2"
        >
            <div class="footer">
                <h1 class="title">Socials</h1>
                <div class="socials">
                    <a [href]="data?.socials?.linkedin" target="_blank" appRotateXY [perspective]="20">
                        <app-svg [name]="'linkedin'"></app-svg>
                    </a>
                    <a [href]="data?.socials?.vk" target="_blank" appRotateXY [perspective]="20">
                        <app-svg [name]="'vk'"></app-svg>
                    </a>
                    <a [href]="data?.socials?.github" target="_blank" appRotateXY [perspective]="20">
                        <app-svg [name]="'github'"></app-svg>
                    </a>
                    <a [href]="data?.socials?.telegram" target="_blank" appRotateXY [perspective]="20">
                        <app-svg [name]="'telegram'"></app-svg>
                    </a>
                </div>
            </div>
        </app-animated-card>
    </div>
</div>
