@import './app/styles/colors.scss';
@import './app/styles/fonts.scss';
@import './app/styles/mixins.scss';

* {
    padding: 0;
    margin: 0;

    a {
        text-decoration: none;
        color: $c-black;
    }
}
body {
    font-family: $ff-Atyp;
    font-weight: $fw-light;
    font-size: $fs-28;
    height: 3000px;
}
