@use '../../../../styles.scss' as *;

.links {
    margin-left: 60px;
    @include flex-row-center;
    font-weight: $fw-semibold;
    @include tablet {
        font-weight: $fw-medium;
        font-size: $fs-24;
    }
}
.link {
    border-radius: 20px;
    padding: 5px;
    margin-right: 15px;
    transition: all 0.2s;
    &:hover {
        color: $c-green;
    }
}
.activeLink {
    background: $c-green;
    color: $c-white !important;
}
