<div class="wrapper">
    <div *ngIf="data" class="running-lines-wrapper">
        <app-running-line [images]="data.firstRunningLine" [dir]="'rtl'"></app-running-line>
        <app-running-line [images]="data.secondRunningLine"></app-running-line>
        <app-running-line [images]="data.thirdRunningLine" [dir]="'rtl'"></app-running-line>
    </div>

    <div class="main">
        <img appParallax [ratio]="1.3" class="rocketImg" src="../../../assets/img/svg/rocket.svg" alt="Rocket" />
        <img appParallax [ratio]="0.8" class="bombImg" src="../../../assets/img/svg/bomb.svg" alt="Bomb" />
        <h1>We</h1>
        <h1>are</h1>
        <div class="colorfullWords">
            <p
                #p1
                appElementMove
                [elBelowTarget]="underDynamicWords"
                [newCoordXTarget]="underDynamicWords.offsetLeft"
                [startCoordYElBelow]="getStartCoordYForElBelowTarget(p1)"
                [newCoordYElBelow]="getNewCoordYForElBelowTarget(p1)"
                [direction]="'ltr'"
            >
                Successfull
            </p>
            <p
                #p2
                appElementMove
                [elBelowTarget]="underDynamicWords"
                [newCoordXTarget]="underDynamicWords.offsetLeft"
                [startCoordYElBelow]="getStartCoordYForElBelowTarget(p2)"
                [newCoordYElBelow]="getNewCoordYForElBelowTarget(p2)"
                [direction]="'ltr'"
            >
                Proficient
            </p>
            <p
                #p3
                appElementMove
                [elBelowTarget]="underDynamicWords"
                [newCoordXTarget]="underDynamicWords.offsetLeft"
                [startCoordYElBelow]="getStartCoordYForElBelowTarget(p3)"
                [newCoordYElBelow]="getNewCoordYForElBelowTarget(p3)"
                [direction]="'ltr'"
            >
                Talented
            </p>
        </div>
        <div class="dynamicBlock" #underDynamicWords>
            <h1>Boobook</h1>
            <p class="info">
                We are a mobile game publisher. We help developers release great games that will be enjoyed by millions
                around the world.
            </p>
        </div>
        <div appOpacity class="slogan">
            <div class="leftPart">
                <p class="mainLine">Без</p>
                <p class="secondLine">Как</p>
            </div>
            <div class="rightPart">
                <p class="mainLine">Boobook</p>
                <p class="secondLine">без рук</p>
            </div>
        </div>
    </div>
    <div class="footer-wrapper">
        <app-animated-card [showAnimationType]="'zoomIn'" [hideAnimationType]="'zoomOut'" [ratioShowYPoint]="1.5">
            <div class="footer-card-wrapper">
                <div class="title">Our Tools</div>
                <div class="footer">
                    <div
                        *ngFor="let svgName of footerSvgNames; let i = index"
                        class="grid-area"
                        [ngClass]="'area-' + (i + 1)"
                    >
                        <div class="skill-svg-wrapper" appRotateXY [perspective]="20">
                            <app-svg [name]="svgName"></app-svg>
                        </div>
                    </div>
                </div>
            </div>
        </app-animated-card>
    </div>
</div>
