<app-running-line [images]="images" [dir]="'rtl'"></app-running-line>
<app-running-line [images]="images"></app-running-line>

<img appParallax [ratio]="1.6" class="img1" src="../../../assets/img/svg/rocket.svg" alt="Rocket" />
<img appParallax [ratio]="0.8" class="img2" src="../../../assets/img/svg/bomb.svg" alt="Bomb" />

<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, ea saepe! Cumque, placeat a. Deserunt incidunt
    blanditiis dolores odit error unde harum. Ipsum, doloremque. Assumenda delectus nostrum necessitatibus doloribus
    repellat.
</p>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, ea saepe! Cumque, placeat a. Deserunt incidunt
    blanditiis dolores odit error unde harum. Ipsum, doloremque. Assumenda delectus nostrum necessitatibus doloribus
    repellat.
</p>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, ea saepe! Cumque, placeat a. Deserunt incidunt
    blanditiis dolores odit error unde harum. Ipsum, doloremque. Assumenda delectus nostrum necessitatibus doloribus
    repellat.
</p>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, ea saepe! Cumque, placeat a. Deserunt incidunt
    blanditiis dolores odit error unde harum. Ipsum, doloremque. Assumenda delectus nostrum necessitatibus doloribus
    repellat.
</p>
