@use '../../../styles.scss' as *;

.wrapper {
}
.main {
    position: relative;
    z-index: 5;
    margin-top: -175px;
    padding: 0 10%;
    background: $secondary-rgba;

    .colorfullWords {
        p {
            position: absolute;
            max-height: 110px;
            @include flex-row-center;
            width: fit-content;
            border-radius: 20px;
            font-size: $fs-85;
            font-weight: $fw-bold;
            letter-spacing: -4px;
            padding: 10px;
            transition: all 0.1s;
        }
        :nth-child(1) {
            left: -600px;
            background-color: $c-yellow;
            top: 390px;
            color: $secondary-text-color;
        }
        :nth-child(2) {
            background-color: $c-green;
            left: -600px;
            top: calc(390px + 115px);
        }
        :nth-child(3) {
            left: -600px;
            background-color: $c-light-blue;
            top: calc(390px + 230px);
        }
    }
}
h1 {
    font-family: $ff-Atyp;
    letter-spacing: -15px;
    font-size: $fs-250;
    font-weight: 900;
    line-height: 170px;
    transition: all 0.1s;
}
.dynamicBlock {
    position: absolute;
    top: 380px;
    z-index: -1;
    .info {
        margin-top: 30px;
        max-width: 1500px;
        font-size: $fs-52;
    }
}
img {
    width: 100%;
    max-width: 800px;
    height: 600px;
}
.rocketImg {
    z-index: 100;
    position: absolute;
    top: 800px;
    right: 10%;
    transform: rotate(-45deg);
}
.bombImg {
    position: absolute;
    top: 1900px;
    left: 10%;
    z-index: -1;
}

.slogan {
    position: absolute;
    top: 1300px;
    @include flex-row-center;
    gap: 5%;
    .leftPart,
    .rightPart {
        @include flex-column-center;
        .mainLine {
            font-size: $fs-250;
        }
        .secondLine {
            font-size: $fs-85;
        }
    }
    .leftPart .secondLine {
        color: $rgb-indigo;
    }
    .rightPart .secondLine {
        color: $rgb-pink;
    }
    .leftPart .mainLine {
        background-image: $grad-indigo;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .rightPart .mainLine {
        background-image: $grad-pink;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
