@use '../../../../styles.scss' as *;

.chat-wrapper {
    background: aqua;
    border-radius: 15px;
    width: 500px;
    height: 800px;
    padding: 20px;
    @include flex-column-center {
        justify-content: space-between;
    }
}

.messages {
    @include flex-column-center;
}
.send-message-wrapper {
    width: 100%;
    @include flex-row-center;
    :last-child {
        margin-left: 20px;
        height: 100%;
    }
}
