<div class="chat-wrapper">
    <div *ngIf="!messages.length" class="no-message">No message yet.</div>
    <div *ngIf="messages.length" class="messages">
        <ng-container *ngFor="let message of messages">
            <div *ngIf="message.isMine" @fadeInRightOnEnter class="message-wrapper my-message">
                <ng-container *ngTemplateOutlet="messageTemplate; context: { data: message }"></ng-container>
            </div>
            <div *ngIf="!message.isMine" @fadeInLeftOnEnter class="message-wrapper another-message">
                <ng-container *ngTemplateOutlet="messageTemplate; context: { data: message }"></ng-container>
            </div>
        </ng-container>
    </div>
    <div class="send-message-wrapper">
        <app-input
            (appListenKeyClick)="inputText && onSubmit()"
            [(ngModelValue)]="inputText"
            [isFormControl]="false"
            [name]="'message'"
            [placeholder]="'Input message...'"
        ></app-input>
        <div class="send-btn-wrapper">
            <app-button (click)="inputText && onSubmit()" [className]="'send-btn'" [disabled]="isMessageCooldown">
                <span class="material-symbols-outlined"> send </span>
            </app-button>
        </div>
    </div>
</div>

<ng-template #messageTemplate let-data="data">
    <h6 class="header">{{ data.name }}</h6>
    <p class="main">{{ data.text }}</p>
    <p class="footer">{{ data.createdAt | date : 'medium' }}</p>
</ng-template>
