@use '../../../../styles.scss' as *;
.arrow-wrapper {
    opacity: 0;
    transition: opacity 0.3s;
}
.visible {
    opacity: 1;
}
span {
    background-image: $grad-indigo;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    font-size: $fs-52;
}
.left-to-right {
    span {
        left: 10px;
        animation: move-left-to-right 0.8s linear infinite;
        animation-delay: 0.3s;
    }
}
.right-to-left {
    span {
        right: 10px;
        animation: move-right-to-left 0.8s linear infinite;
        animation-delay: 0.3s;
    }
}
.bottomLeft-to-upRight {
    span {
        top: 10px;
        left: 10px;
        animation: move-diagonal-bottomLeft-to-upRight 0.8s linear infinite;
        animation-delay: 0.3s;
    }
}

@keyframes move-diagonal-bottomLeft-to-upRight {
    0% {
        top: 10px;
        left: 10px;
    }
    100% {
        top: 0px;
        left: 20px;
    }
}

@keyframes move-left-to-right {
    0% {
        left: 10px;
    }
    100% {
        left: 30px;
    }
}
@keyframes move-right-to-left {
    0% {
        right: 10px;
    }
    100% {
        right: 30px;
    }
}
