$mobile-width: 768px;
$laptop-width: 1368px;
$tablet-width: 1024px;

@mixin laptop {
    @media screen and (max-width: $laptop-width) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: $tablet-width) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: $mobile-width) {
        @content;
    }
}
