@use '../../../../styles.scss' as *;
.input-wrapper {
    @include flex-column-start;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}
.field {
    border: 3px solid $primary-text-color;
    color: $primary-text-color;
    background: transparent;
    font-size: $fs-32;
    border-radius: 15px;
    padding: 5px 10px;
    transition: all 0.2s;
    width: 100%;
}
.field::placeholder {
    font-style: italic;
    color: aquamarine;
}
.errorField {
    border: 3px solid $c-red;
}

.error {
    width: 100%;
    max-width: 400px;
    color: $c-red;
    font-size: $fs-16;
}
