<div class="products-wrapper">
    <app-full-screen-two-slides-slider>
        <app-full-screen-slide
            (click)="setActiveSlide('left')"
            [title]="'Web-applications'"
            [side]="'left'"
            [isActive]="activeSlide === 'left'"
        >
            <div class="web-wrapper">
                <div class="applications-wrapper">
                    <app-info-card *ngFor="let app of loadedAppCards" [type]="'app'" [appData]="app"></app-info-card>
                </div>
                <app-pagination
                    [pageSize]="limit"
                    [totalCount]="appTotalCount"
                    (currentPageChange)="onPagination($event)"
                ></app-pagination>
                <app-loader [isOpen]="isLoading" [backdropSize]="'block'"></app-loader>
            </div>
        </app-full-screen-slide>
        <app-full-screen-slide
            (click)="setActiveSlide('right')"
            [title]="'2D-Games'"
            [side]="'right'"
            [isActive]="activeSlide === 'right'"
        >
            <div class="games-wrapper">
                RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT
                RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT
                RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT
                RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT
                RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT
                RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT
                RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT
                RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT
                RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT RIGHT
            </div>
        </app-full-screen-slide>
    </app-full-screen-two-slides-slider>
</div>
