@use '../../../styles.scss' as *;
.products-wrapper {
    margin-top: -100px;
}
.main {
    position: relative;
    @include flex-column-center;
}
.web-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer {
    @include flex-column-center;
}
