@use '../../../styles.scss' as *;
.products-wrapper {
    position: relative;
    padding: 0 10%;
    height: 6000px;
}
.cards {
    width: 100%;
    @include flex-column-center;
    margin-top: 700px;

    .card {
        background-color: aqua;
        max-width: 500px;
        width: 100%;
        height: 500px;
    }
}
