@use '../../../styles.scss' as *;

.other-page-wrapper {
    @include flex-column-center;
    padding: 100px;
    @include mobile {
        padding: 70px 25px;
    }
}

.main {
    margin-top: 100px;
    width: 100%;
    @include flex-row-space-around {
        align-items: flex-start;
    }
    @include tablet {
        @include flex-column-center;
    }
    .left-part,
    .right-part {
        @include flex-column-center;
    }
    .left-part {
        .btn-wrapper {
            margin-top: 50px;
            width: 150px;
        }
        .title {
            margin-bottom: 75px;
            text-align: center;
        }
        @include tablet {
            margin-bottom: 40px;
        }
    }
    .right-part {
        margin-bottom: 35px;
    }
}
.slide {
    display: flex;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
    padding: 20px;
}
