@use '../../../styles.scss' as *;

.other-page-wrapper {
}
.main-left,
.main-right {
    position: relative;
    box-shadow: inset 0 0 200px 10px black;
    border-radius: 20px;
    padding: 10px;
}

.main-left {
    margin-top: 100px;
    width: 100%;
    @include flex-row-space-around {
        align-items: flex-start;
    }
    @include tablet {
        @include flex-column-center;
    }
    .left-part,
    .right-part {
        @include flex-column-center;
        .title {
            color: $primary-text-color;
        }
    }
    .left-part {
        .btn-wrapper {
            margin-top: 50px;
            width: 150px;
        }
        .title {
            margin-bottom: 75px;
            text-align: center;
        }
        @include tablet {
            margin-bottom: 40px;
        }
    }
    .right-part {
        margin-bottom: 35px;
    }
    .slide {
        display: flex;
        justify-content: center;
        min-width: 100%;
        min-height: 100%;
        padding: 20px;
    }
}
.main-right {
    @include flex-column-center;
    .title {
        margin-bottom: 50px;
        color: $c-white;
    }
}
