@use '../../../../styles.scss' as *;

button {
    border: none;
    cursor: pointer;
    color: $primary-text-color;
    @include flex-row-center;
    font-size: $fs-32;
    font-weight: $fw-regular;
    background: $c-green;
    border-radius: 10px;
    transition: all 0.2s;
    padding: 5px;
    color: $primary-text-color;
    &:hover {
        background: $c-yellow;
        color: $secondary-text-color;
    }
}
.theme-button {
    padding: 10px;
    border-radius: 50%;
    &:hover {
        background: $secondary-rgba;
    }
    &:active {
        box-shadow: 0 0 7px 5px white;
    }
}
