@use '../../../../styles.scss' as *;

.select-label-wrapper {
    @include flex-row-center;
    .label {
        text-align: center;
    }
}
.select-wrapper {
    position: relative;
    @include flex-column-center;
    width: 100%;
    min-width: 200px;
    height: 50px;
    border: 4px solid $c-white;
    box-sizing: border-box;
    cursor: pointer;
    .options {
        position: absolute;
        top: -104px;
        left: 0;
        width: 100%;
        transition: all 0.5s;
        height: 0px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .option {
        width: 100%;
    }
    .open {
        height: 100px;
    }
}
