@use '../../../../styles.scss' as *;

table {
}
table,
th,
td {
    border: 1px solid $primary-text-color;
    border-collapse: collapse;
}

th,
td {
    max-width: 200px;
}
td {
    padding: 5px;
    text-align: center;
}
