<div class="about-wrapper">
    <app-typing-animated-box>
        <h1 class="title">Our team</h1>
    </app-typing-animated-box>
    <app-animated-card [showAnimationType]="AnimationTypes.fadeDown" [once]="true" [fromStart]="true">
        <img
            #teamImage
            class="team-photo"
            appRotateXY
            [perspective]="40"
            src="../../../assets/img/jpg/Team.jpg"
            alt="TeamPhoto"
        />
    </app-animated-card>
    <div *ngIf="cards.length" class="cards">
        <div
            #card1
            class="card-1"
            appElementMove
            [once]="true"
            [startPointRatio]="1"
            [newCoordXTarget]="paddingLeft"
            [direction]="'ltr'"
            [transitionValue]="'left 0.8s'"
        >
            <app-info-card [developerData]="cards[0]"></app-info-card>
        </div>
        <div
            #card2
            class="card-2"
            appElementMove
            [startPointRatio]="1"
            [once]="true"
            [newCoordXTarget]="paddingLeft"
            [direction]="'rtl'"
            [transitionValue]="'right 0.8s'"
        >
            <app-info-card [developerData]="cards[1]"></app-info-card>
        </div>
        <div
            #card3
            class="card-3"
            appElementMove
            [startPointRatio]="1"
            [once]="true"
            [newCoordXTarget]="paddingLeft"
            [direction]="'ltr'"
            [transitionValue]="'left 0.8s'"
        >
            <app-info-card [developerData]="cards[2]"></app-info-card>
        </div>
    </div>
</div>
