@use '../../../styles.scss' as *;
.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background: url(../../../assets/img/jpg/Beach.webp) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    @include mobile {
        padding: 30px;
    }
}
.title {
    margin: 20px 0;
    border-right: 20px solid $c-white;
    font-size: $fs-250;
    background-image: $grad-pink;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @include laptop {
        font-size: $fs-150;
    }
    @include tablet {
        font-size: $fs-110;
        border-right: 15px solid;
    }
    @include mobile {
        border-right: 10px solid;
        font-size: $fs-64;
    }
}
.team-photo {
    position: relative;
    z-index: 1;
    width: 80vw;
    border-radius: 5%;
    @include mobile {
        width: 90vw;
    }
}
.cards {
    position: relative;
    width: 100%;
    height: 1500px;
    @include mobile {
        height: 1900px;
    }
}
.card-1 {
    position: absolute;
    top: 50px;
    left: -1000px;
}
.card-2 {
    position: absolute;
    top: 500px;
    right: -1000px;
    @include mobile {
        top: 650px;
    }
}
.card-3 {
    position: absolute;
    top: 950px;
    left: -1000px;
    @include mobile {
        top: 1250px;
    }
}
