@use '../../../styles.scss' as *;
.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    text-align: center;
    margin: 20px 0;
    font-size: $fs-250;
    background-image: $grad-pink;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.team-photo {
    width: 100%;
    border-radius: 5%;
}
.cards {
    background: $c-green;
    position: relative;
    width: 100%;
    padding: 0 10%;
    height: 1400px;
}
.card-1 {
    position: absolute;
    top: 50px;
    left: -1000px;
}
.card-2 {
    position: absolute;
    top: 500px;
    right: -1000px;
}
.card-3 {
    position: absolute;
    top: 950px;
    left: -1000px;
}
