@use '../../../../styles.scss' as *;

.logo {
    @include flex-column-center {
        justify-content: flex-start;
    }
    font-family: $ff-Lemon;
    font-size: $fs-28;
    p {
        margin-top: -25px;
        color: $primary-text-color;
    }
    @include tablet {
        font-size: $fs-18;
        p {
            margin-top: -15px;
        }
    }
}
