@use '../../../../styles.scss' as *;
.backdrop {
    z-index: 501;
    @include flex-row-center;
    background: $rgba-black-08;
    transition: all 0.1s;
    transform: scale(0);
}
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.block {
    position: absolute;
    inset: 0;
    background: none;
    filter: brightness(2);
}
.block::before {
    content: '';
    position: absolute;
    inset: 0;
    background: $rgba-black-08;
    -webkit-filter: blur(60px);
    -moz-filter: blur(60px);
    -o-filter: blur(60px);
    -ms-filter: blur(60px);
    filter: blur(60px);
}
.open {
    transform: scale(1);
}
