@use '../../../../styles.scss' as *;
.backdrop {
    z-index: 501;
    @include flex-row-center;
    background: $rgba-black-08;
    transition: all 0.3s;
    position: fixed;
    height: 100vh;
    width: 100vw;
    inset: 0;
    overflow: hidden;
}
.backdrop::before {
    content: '';
    position: absolute;
    inset: 0;
    background: $rgba-black-08;
    -webkit-filter: blur(60px);
    -moz-filter: blur(60px);
    -o-filter: blur(60px);
    -ms-filter: blur(60px);
    filter: blur(60px);
}
