@use '../../../../styles.scss' as *;

:root {
    --start: 0px;
    --end: 0px;
}

.slider {
    height: 100%;
    padding: 5px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
}

img {
    object-fit: cover;
    margin-right: 10px;
    border-radius: 20px;
}
.rtl {
    animation: right-to-left 10s linear infinite;
}
.ltr {
    animation: left-to-right 10s linear infinite;
}
@keyframes right-to-left {
    0% {
        transform: translateX(var(--start));
    }
    100% {
        transform: translateX(var(--end));
    }
}
@keyframes left-to-right {
    0% {
        transform: translateX(var(--end));
    }
    100% {
        transform: translateX(var(--start));
    }
}
