svg {
    path {
        transition: all 250ms;
    }
    &.linkedin {
        &:hover {
            path {
                &:first-child {
                    fill: #0078d4;
                }
            }
        }
    }
    &.vk {
        &:hover {
            path {
                &:first-child {
                    fill: #1976d2;
                }
            }
        }
    }
    &.github {
        &:hover {
            path {
                &:first-child {
                    fill: black;
                }
            }
        }
    }
    &.telegram {
        &:hover {
            path {
                &:first-child {
                    fill: #29b6f6;
                }
            }
        }
    }
}
