<div class="slide" [ngClass]="{ 'active-slide': isActive }">
    <div
        class="toggle-bar"
        [ngClass]="{
            'left-toggle-bar': side === 'left',
            'right-toggle-bar': side === 'right',
            fullHeight: (isFullHeightToggleBar$ | async)
        }"
        (mouseenter)="isHoverToggleBar = true"
        (mouseleave)="isHoverToggleBar = false"
    >
        <ng-container *ngIf="!isActive">
            <p class="title">
                {{ title }}
            </p>
            <div class="arrow-wrapper">
                <div class="arrow">
                    <app-arrow
                        [isVisible]="isHoverToggleBar"
                        [symbolName]="side === 'left' ? 'east' : 'west'"
                    ></app-arrow>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="body" [ngClass]="{ 'left-body': side === 'left', 'right-body': side === 'right' }">
        <ng-container *ngIf="isActive">
            <ng-content></ng-content>
        </ng-container>
    </div>
</div>
