@use '../../../../../styles.scss' as *;

.slide {
    color: $c-white;
    .body {
        position: absolute;
        padding: 5%;
        width: 0;
        top: 0;
        transition: width 0.5s;
        min-height: calc(100vh - 100px);
        visibility: hidden;
    }
    .toggle-bar {
        cursor: pointer;
        @include flex-column-center {
            justify-content: flex-start;
        }
        position: fixed;
        transition: all 0.5s;
        top: 100px;
        width: 10%;
        height: 90%;
        visibility: visible;
        &:hover {
            .arrow {
                transition: all 0.3s;
                border-width: 15px;
            }
        }
        .title {
            @include flex-row-center;
            flex: 0 0 80%;
            font-weight: $fw-medium;
            writing-mode: vertical-lr;
        }
        .arrow {
            @include flex-row-center;
            width: 100%;
            flex: 0 0 20%;
        }
    }
}
.active-slide {
    .body {
        background: url(../../../../../assets/img/jpg/Asphalt.jpg);
        width: 90%;
        visibility: visible;
    }
    .left-body {
        left: 0;
    }
    .right-body {
        right: 0;
    }
    .toggle-bar {
        width: 0;
    }
}

.left-toggle-bar {
    left: 0;
    background: $c-blue;
    .title {
        transform: rotate(-180deg);
    }
    .arrow {
        border-right: 10px solid $c-orange;
    }
}
.right-toggle-bar {
    right: 0;
    background: $c-vinous;
    .arrow {
        border-left: 10px solid $c-orange;
    }
}
.fullHeight {
    top: 0px !important;
    height: 100% !important;
}
