.slide {
    width: 100%;
    .body {
        width: 0;
        transition: all 1s;
        z-index: -1;
        visibility: hidden;
    }
    .toggle-bar {
        cursor: pointer;
        transition: all 1s;
        position: fixed;
        top: 100px;
        width: 10%;
        height: 100%;
        background: pink;
        visibility: visible;
        .title {
            writing-mode: vertical-lr;
        }
    }
}
.active-slide {
    .body {
        position: absolute;
        top: 0;
        background: green;
        width: 90%;
        visibility: visible;
        z-index: 1;
        height: 90vh;
    }
    .left-body {
        left: 10%;
    }
    .right-body {
        right: 10%;
    }
    .toggle-bar {
        width: 0;
        visibility: hidden;
    }
}

.left-toggle-bar {
    left: 0;
    .title {
        transform: rotate(-180deg);
    }
}
.right-toggle-bar {
    right: 0;
}
