<header [ngClass]="{ activeHeader: isScrolled, hiddenHeader: !(isVisibleHeader$ | async) }">
    <a [routerLink]="'/'">
        <app-logo></app-logo>
    </a>
    <app-nav [links]="links"></app-nav>
    <div class="theme-button-wrapper">
        <app-button (click)="onChangeTheme()" [className]="'theme-btn'">
            <span class="material-symbols-outlined"> {{ themeService.theme === 'dark' ? 'sunny' : 'dark_mode' }} </span>
        </app-button>
    </div>
    <div *ngIf="!(user$ | async); else logout" class="auth-button-wrapper">
        <app-button (click)="openModal()"> Login / Register </app-button>
    </div>
    <ng-template #logout>
        <div class="auth-button-wrapper">
            <app-button (click)="onLogout()"><span class="material-symbols-outlined"> logout </span></app-button>
        </div>
    </ng-template>
</header>
