@use '../../../../styles.scss' as *;

header {
    position: fixed;
    z-index: 500;
    padding: 0 10%;
    width: 100vw;
    height: 100px;
    left: 0;
    right: 0;
    top: 0;
    transition: all 0.2s;
    @include flex-row-start;
    background: none;
    font-family: $ff-Atyp;
    font-size: $fs-32;
    @include laptop {
        padding: 0 50px;
    }
    @include mobile {
        height: 70px;
    }
}
.auth-button-wrapper,
.theme-button-wrapper,
.menu-btn-wrapper {
    top: 50%;
    transform: translateY(-50%);
}
.theme-button-wrapper,
.menu-btn-wrapper {
    border-radius: 50%;
}
.mobileHeader {
    .theme-button-wrapper {
        right: 125px;
    }
    .menu-btn-wrapper {
        position: absolute;
        right: 40px;
    }
}
.hiddenHeader {
    top: -150px;
}
.activeHeader {
    background: $vinous-blue-bg-color;
}
.theme-button-wrapper {
    position: absolute;
    right: 300px;
    @include tablet {
        right: 230px;
    }
}
.auth-button-wrapper {
    position: absolute;
    right: 50px;
}
.menu-list-wrapper {
    background: $vinous-blue-bg-color;
    position: fixed;
    @include flex-row-center;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
